<div class="aq-sidebar-brand">
    <div class="aq-logo">
        <i class="fa-solid fa-wind"></i>
    </div>
    <div class="aq-brand-text">
        <div class="aq-brand-title">AirQoon</div>
        <div class="aq-brand-subtitle">Hava Kalitesi Asistanı</div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="aq-nav-section">Menu</div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-chart-line" aria-hidden="true"></i>
                <span>Dashboard</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <i class="fa-solid fa-comments" aria-hidden="true"></i>
                <span>Chat</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/tenants">
                <i class="fa-solid fa-gear" aria-hidden="true"></i>
                <span>Admin Dashboard</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/analytics">
                <i class="fa-solid fa-chart-bar" aria-hidden="true"></i>
                <span>Analytics</span>
            </NavLink>
        </div>
    </nav>
</div>

